/* for  paper submission  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.papersubmission_main{
    width: 80%;
    margin: 1rem auto;
    /* display: flex;
    align-items: center;  */
}
.head_author,.head_workinglan{    
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}   
.para_author,.para_workinglan{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.link_paersub{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    background-color: #F2F2F2;
    width: 30%;
    margin: auto;
    /* border: 1px solid red; */
}



/* anchor tag */
.atag{
    text-decoration: none;
}


/* for fee and online regestration */
.feeandonline_main{
    width: 80%;
    margin: 1rem auto;
}
.para_feeandonline{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.head_feeandonline{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    background-color: #F2F2F2;
    width: 30%;
    margin: auto;
}
.paper-submission-qr{
    padding:0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-size: 17px;
}
.paper-submission-qr img{
    width: 200px;
}
.paper-submission-qr p span{
    font-weight: 800;
}
.subimission-guidelines{
    padding:20px;
}